<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

<link rel="stylesheet" href="/content/aboutus.css">

<!-- Main Content -->
<section class="team">
  <div class="team-member">
    <p>Aysha Bilai</p>
    <img src="/Assets/images/aysha.jpg" alt="Photo of Aysha Bilai" width="200">
  </div>
  
  <div class="team-member">
    <p>Nayab Khan</p>
    <img src="/Assets/images/nayab.jpg" alt="Photo of Nayab Khan" width="200">
  </div>
  
  <div class="team-member">
    <p>Sidrah Hashmi</p>
    <img src="/Assets/images/sidrah.jpg" alt="Photo of Sidrah Hashmi" width="200">
  </div>

  <div class="presentation-link">
    <p>
      <a href="https://docs.google.com/presentation/d/1zzIzg1k5f3zwSth4bIO_2N9OTiNEAwZC__cM3dsctrY/edit?usp=sharing" target="_blank">
        View Presentation
      </a>
    </p>
  </div>
</section>

<%- include Partials/footer.ejs%>
