<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

<!--Main Content-->
<div id="home-page-content">
    <h1>Welcome to <strong>LUX</strong>!</h1>
    <img src="/Assets/images/teamlogo.png" alt="LUX Logo">
    <p>
        At <strong>LUX</strong>, we redefine the jewellery shopping experience with a modern, user-friendly online platform. Whether you're seeking timeless classics or contemporary designs, our collection is crafted to captivate.
    </p>
    <p>
        <strong>Personalized User Experience:</strong> Register and log in to explore our exclusive inventory tailored just for you.
    </p>
    <p>
        <strong>Effortless Management:</strong> Browse and filter through our jewellery collection with ease.
    </p>
    <p>
        <strong>Full Control:</strong> Add, update, or remove items from your shopping cart as you refine your selection.
    </p>
</div>

<%- include Partials/footer.ejs%>
