<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #bfcfbb;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">LUX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link <%= title === 'Home' ? 'active' : '' %>" href="/home">
              <i class="fa-solid fa-house-chimney"></i> Home
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link <%= title === 'Home' ? 'active' : '' %>" href="/about">
                <i class="fa-solid fa-info"></i> About Us
    </a>
</li>
    <li class="nav-item">
         <a class="nav-link <%= title === 'Home' ? 'active' : '' %>" href="/contact">
            <i class="fa-solid fa-phone"></i> Contact Us
    </a>
</li>
        </ul>
      </div>
    </div>
  </nav>